

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
    outline: none;
}

body {
    background:  url(./assets/img/logo.webp) ;
    background-size: contain;
    
}
h1 {
    text-align: center;
    background-color: #772fd3;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
}

main {
    width: 375px;
    background-color: #fffffff9;
    border-radius: 20px;
    margin: 0 auto;
    /* padding: 44px;  aplica para todos os lados*/
    /* padding: 44px 24px; Aplica 1cima e baixo / 2 dos lados*/
    /* padding: 44px 24px 23px ; cima esquerda,direita baixo */
    padding:44px 24px 23px ;
    margin-top: 5%;
    filter: drop-shadow(0 0 2em #772fd3);
    border: 3px solid #772fd3;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select,input {
    background-color: #ffffff;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
    cursor: pointer;
}

button {
    background-color: #772fd3;
    border-radius: 5px;
    width: 100%;
    height: 48px;
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #772fd3 ;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value,.cvc {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}